::selection {
  background-color: #34a3e4;
  color: #fff;
}

*,
h1,
h2,
h3,
p {
  padding: 0;
  border: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Roboto, sans-serif;
  background-color: #e2d7aa;
  color: #000;
  font-size: 16px;
  width: 1180px;
  text-align: center;
  margin: 0 auto;
  padding: 50px;
}

/* Nav */
nav ul {
  list-style: none;
  margin-bottom: 30px;
}

nav ul li {
  display: inline-block;
  margin-right: 15px;
}

nav ul li a {
  text-decoration: none;
  color: #000;
  font-size: 24px;
}

nav ul li:hover a {
  color: rgb(10, 116, 187);
  font-weight: bold;
}

nav ul li:first-child a {
  color: rgb(10, 116, 187);
  font-weight: bold;
}

nav ul li:last-child a {
  color: rgb(10, 116, 187);
  font-weight: bold;
}

/* End Nav */

h1 {
  font-size: 65px;
  font-family: "Indie Flower", cursive;
  margin-bottom: 50px;
}

.img-container img {
  width: 100%;
  height: auto;
  margin-bottom: 30px;
}

/* main */
main {
  display: flex;
  justify-content: space-between;
}

main article {
  width: calc(100% / 3 - 15px);
}

main article h3 a {
  text-decoration: none;
}

main article img {
  width: 100%;
  height: auto;
  aspect-ratio: 16/9;
  object-fit: cover;
}

main article p:first-of-type {
  margin-top: 30px;
  margin-bottom: 0;
  text-align: justify;
  line-height: 25px;
}

main article h2 + h3 + img + p::first-letter {
  font-size: 45px;
  font-family: EucrosiaUPC, sans-serif;
}

article p:last-of-type span:first-of-type a::before {
  content: url(images/comment.png);
  position: relative;
  right: 5px;
  top: 7px;
  padding: 10px;
}

main article p {
  text-align: left;
  margin-bottom: 60px;
}

main article .comments {
  margin-right: 5px;
  padding: 10px;
  background-color: #8a540a;
}

main article .comments a {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
}

main article .readmore {
  padding: 10px 15px;
  background-color: #8a540a;
}

main article .readmore a {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
}
/* End main */

/* Footer */
footer {
  font-size: 18px;
}
/* End Footer */
